{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <section>
        <div class="container mx-auto">
            <div class="grid grid-cols-12 gap-4">
                <div class="xl:col-span-3 lg:col-span-4 col-span-12 bg-white p-4 h-64 animate__animated animate__fadeInLeft">
                    <div class="mb-2 font-medium">Поиск</div>
                    <input type="text" name="search" class="p-2 bg-gray-200 outline-none rounded w-full" placeholder="Название">
                    <div class="my-2 font-medium">Сортировать</div>

                    <input type="radio" id="filter_name" name="filter" value="name">
                    <label for="filter_name">По имени</label><br>

                    <input type="radio" id="filter_price_asc" name="filter" value="price">
                    <label for="filter_price_asc">По цене (от дешевых к дорогим)</label><br>

                    <input type="radio" id="filter_price_desc" name="filter" value="-price">
                    <label for="filter_price_desc">По цене (от дорогих к дешевым)</label><br>

                    <input type="radio" id="filter_date_asc" name="filter" value="datetime">
                    <label for="filter_date_asc">По дате (позже)</label><br>

                    <input type="radio" id="filter_date_desc" name="filter" value="-datetime">
                    <label for="filter_date_desc">По дате (раньше)</label><br>
                </div>

                <div class="xl:col-span-9 lg:col-span-8 col-span-12">
                    <div class="grid grid-cols-12 gap-4" id="products">

                    </div>
                </div>

                <div class="col-span-12">
                    <ul class="flex" id="catalog_pages">

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script>
        const json_catalog_pages_url = '{% url 'json_catalog_pages' %}'
    </script>

    <script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}